// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
  text-align: center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 14px;
  width: 300px;
}
